# Project name: Data Analyst Proficiency Insight: A Comprehensive Skills and Qualifications Analysis


**Name**: Thanapoom Phatthanaphan <br>
**CWID**: 20011296

## 1) Data Collection

In [120]:
# Import necessary libraries
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import time

### Web Scraping
Scraped the job details from Indeed.com, and save to .csv file

In [2]:
def getJobDescription(page_url_format, max_page):

    # Start the timer
    start = time.time()
    
    # Initialize the list to store the job details
    jobs_list = []
    job_search = 'data+analyst'
    location_search = 'United+States'
    
    # Iterate to open each page of the website
    for i in range(0, max_page):
        page_url = page_url_format.format(job_search, location_search, i*10)        
        driver = webdriver.Chrome()
        driver.get(page_url)
        
        # Set the loading time for the webpage
        time.sleep(10)
        
        # Find the path of th data that we want to scrape
        job_page = driver.find_element(By.ID, 'mosaic-jobResults')
        jobs = driver.find_elements(By.CLASS_NAME, 'job_seen_beacon')
        
        # Iterate to get the job detail of each job
        for job in jobs:
            job_detail = []
            job_des_list = []
            
            # Get the job Title
            job_title = job.find_element(By.CLASS_NAME, 'jobTitle')
            job_detail.append(job_title.text)
            
            # Get the job link
            job_detail.append(job_title.find_element(By.CSS_SELECTOR, 'a').get_attribute('href'))
            
            # Get the company name
            job_detail.append(job.find_element(By.CLASS_NAME, 'css-92r8pb').text)
            
            # Get the location of the job
            job_detail.append(job.find_element(By.CLASS_NAME, 'css-1p0sjhy').text)
            
            # Click the job element
            job_title.click()
            
            # Set the loading time for the webpage
            time.sleep(8)
            
            # Get the job description
            try:
                job_des_list.append(driver.find_element(By.ID, 'jobDescriptionText').text)
            except:
                job_des_list.append(None)

            # Store the job detail in the list
            job_detail.append(job_des_list[0])
            jobs_list.append(job_detail)
    
    # Close the webpage
    driver.quit()
    
    # Stop the timer & Display the total execution time
    end = time.time()
    execution_time = end - start
    print(f"{execution_time} seconds to complete the task.")
    
    return jobs_list

In [3]:
# initialize the webpage url
page_url_format = "https://www.indeed.com/jobs?q={}&l={}&start={}"

# Define the number of page we required for around 1,000 jobs (The website contains 15 jobs per page)
max_page = int(np.ceil(1000/15))

# Call the function to get the job details from the website
jobs_list = getJobDescription(page_url_format, max_page)

9593.057627916336 seconds to complete the task.

In [5]:
# Create the DataFrame
columns_name = ['Position', 'Link', 'Company', 'Location', 'Job Description']
jobs_list_table = pd.DataFrame(jobs_list, columns=columns_name)

In [6]:
# Save the DataFrame to .csv file
jobs_list_table.to_csv('jobs_list.csv', index=False)
print("The DataFrame has been saved.")

The DataFrame has been saved.

### Import the dataset
The dataset that we scraped from the website

In [11]:
df = pd.read_csv('jobs_list.csv')
df

,Position,Link,Company,Location,Job Description
0,Board Certified Behavior Analyst,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Impact Learning & Development,"Rapid City, SD 57702",Job Description\nThe BCBA will provide support...
1,Board Certified Behavior Analyst (BCBA),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Proven Behavior Solutions,"West Bridgewater, MA",PROVEN BEHAVIOR SOLUTIONS VOTED TOP PLACES TO ...
2,Board Certified Behavior Analyst (BCBA),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Keystone Autism and Behavior Interventions LLC,"Hillsboro, OH",Board Certified Behavior Analyst (in-home serv...
3,Board Certified Behavior Analyst (BCBA),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Pathways Autism Center,"Atlanta, GA 30328",Pathways Autism Center is currently hiring for...
4,Senior Data Analyst,https://www.indeed.com/rc/clk?jk=1e61371557d55...,Calendly,"Remote in Atlanta, GA 30363",About the team & opportunity\nWhat's so great ...
...,...,...,...,...,...
1000,Data Analyst III,https://www.indeed.com/rc/clk?jk=fce643433ba74...,FedEx Dataworks,United States,"Under general supervision, designs and impleme..."
1001,Remote Work - Need Data Analyst,https://www.indeed.com/rc/clk?jk=0ed895a739175...,Steneral Consulting,Remote in United States,Job Title: Data Analyst\n\nLocation: Remote\n\...
1002,Data Labeling Analyst,https://www.indeed.com/rc/clk?jk=4a0239d360f90...,Augmented Reality Concepts,United States,"Description:\nLocation\nTbilisi, Georgia\n\nRe..."
1003,Music Data Analyst,https://www.indeed.com/rc/clk?jk=e0a4cbab9ec14...,1021 Creative,United States,1021 Creative is seeking for a Music Data Anal...
1004,Data Analyst,https://www.indeed.com/rc/clk?jk=f0b5c06d61731...,Cardinal Health,United States,What Data Analytics brings to Cardinal Health:...

In [14]:
# Check null value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Position         1005 non-null   object
 1   Link             1005 non-null   object
 2   Company          1005 non-null   object
 3   Location         1005 non-null   object
 4   Job Description  1004 non-null   object
dtypes: object(5)
memory usage: 39.4+ KB

In [16]:
# Remove the row with null values
df_no_na = df.dropna()
df_no_na

,Position,Link,Company,Location,Job Description
0,Board Certified Behavior Analyst,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Impact Learning & Development,"Rapid City, SD 57702",Job Description\nThe BCBA will provide support...
1,Board Certified Behavior Analyst (BCBA),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Proven Behavior Solutions,"West Bridgewater, MA",PROVEN BEHAVIOR SOLUTIONS VOTED TOP PLACES TO ...
2,Board Certified Behavior Analyst (BCBA),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Keystone Autism and Behavior Interventions LLC,"Hillsboro, OH",Board Certified Behavior Analyst (in-home serv...
3,Board Certified Behavior Analyst (BCBA),https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Pathways Autism Center,"Atlanta, GA 30328",Pathways Autism Center is currently hiring for...
4,Senior Data Analyst,https://www.indeed.com/rc/clk?jk=1e61371557d55...,Calendly,"Remote in Atlanta, GA 30363",About the team & opportunity\nWhat's so great ...
...,...,...,...,...,...
1000,Data Analyst III,https://www.indeed.com/rc/clk?jk=fce643433ba74...,FedEx Dataworks,United States,"Under general supervision, designs and impleme..."
1001,Remote Work - Need Data Analyst,https://www.indeed.com/rc/clk?jk=0ed895a739175...,Steneral Consulting,Remote in United States,Job Title: Data Analyst\n\nLocation: Remote\n\...
1002,Data Labeling Analyst,https://www.indeed.com/rc/clk?jk=4a0239d360f90...,Augmented Reality Concepts,United States,"Description:\nLocation\nTbilisi, Georgia\n\nRe..."
1003,Music Data Analyst,https://www.indeed.com/rc/clk?jk=e0a4cbab9ec14...,1021 Creative,United States,1021 Creative is seeking for a Music Data Anal...
1004,Data Analyst,https://www.indeed.com/rc/clk?jk=f0b5c06d61731...,Cardinal Health,United States,What Data Analytics brings to Cardinal Health:...

In [123]:
# Select only the column that we will use
data = df_no_na.loc[:, ['Job Description']]
data

                                        Job Description
0     Job Description\nThe BCBA will provide support...
1     PROVEN BEHAVIOR SOLUTIONS VOTED TOP PLACES TO ...
2     Board Certified Behavior Analyst (in-home serv...
3     Pathways Autism Center is currently hiring for...
4     About the team & opportunity\nWhat's so great ...
...                                                 ...
1000  Under general supervision, designs and impleme...
1001  Job Title: Data Analyst\n\nLocation: Remote\n\...
1002  Description:\nLocation\nTbilisi, Georgia\n\nRe...
1003  1021 Creative is seeking for a Music Data Anal...
1004  What Data Analytics brings to Cardinal Health:...

[1004 rows x 1 columns]

## 2) Data Preprocessing
Apply NLP techniques to the text data into the suitable format

In [76]:
# Import necessary libraries
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
import spacy
from fuzzywuzzy import fuzz
from nltk.util import ngrams

In [19]:
# Download NLTK stopwords
# nltk.download('stopwords')
# nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/thanapoomphatthanaphan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/thanapoomphatthanaphan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [114]:
def tokenization(doc):
    
    # Tokenize text
    tokens = nltk.word_tokenize(doc)

    # Remove stopwords and punctuation
    stop_words = set(stopwords.words('english'))
    punctuation = set(string.punctuation)
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words and word not in punctuation]
    
    # Lemmatize words
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in filtered_tokens]
    
    # Convert word to lowercase
    lower_lemmatized_tokens = [token.lower() for token in lemmatized_tokens]

    return lower_lemmatized_tokens

In [124]:
# Call the function to tokenize the text
data['Job Description'] = data['Job Description'].apply(tokenization)

In [134]:
# Extract the data to get unigram and bigram
uni_bi_grams_dict = {'JD_uni_bi_grams': []}
for jd in data['Job Description']:
    unigrams = list(ngrams(jd, 1))
    bigrams = list(ngrams(jd, 2))
    uni_bi_grams = unigrams + bigrams
    uni_bi_grams_dict['JD_uni_bi_grams'].append(uni_bi_grams)

JD_uni_bi_grams = pd.DataFrame(uni_bi_grams_dict)

In [135]:
JD_uni_bi_grams

                                        JD_uni_bi_grams
0     [(job,), (description,), (bcba,), (provide,), ...
1     [(proven,), (behavior,), (solutions,), (voted,...
2     [(board,), (certified,), (behavior,), (analyst...
3     [(pathways,), (autism,), (center,), (currently...
4     [(team,), (opportunity,), ('s,), (great,), (wo...
...                                                 ...
999   [(general,), (supervision,), (design,), (imple...
1000  [(job,), (title,), (data,), (analyst,), (locat...
1001  [(description,), (location,), (tbilisi,), (geo...
1002  [(1021,), (creative,), (seeking,), (music,), (...
1003  [(data,), (analytics,), (brings,), (cardinal,)...

[1004 rows x 1 columns]

In [136]:
individual_skill_dict = {}
for skill in skill_keywords:
    individual_skill_dict[skill] = list(0 for i in range(len(JD_uni_bi_grams)))

individual_skill_df = pd.DataFrame.from_dict(individual_skill_dict)
skill_counts_table = pd.concat([JD_uni_bi_grams, individual_skill_df], axis=1)

In [137]:
skill_counts_table

,JD_uni_bi_grams,Python,SQL,R,VBA,C,C++,C#,Java,JavaScript,...,Verbal,Written,Detail-oriented,Motivation,Adaptability,Good attitude,Problem-solving,Critical-thinking,Time management,Project management
0,"[(job,), (description,), (bcba,), (provide,), ...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"[(proven,), (behavior,), (solutions,), (voted,...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"[(board,), (certified,), (behavior,), (analyst...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"[(pathways,), (autism,), (center,), (currently...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"[(team,), (opportunity,), ('s,), (great,), (wo...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,"[(general,), (supervision,), (design,), (imple...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,"[(job,), (title,), (data,), (analyst,), (locat...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1001,"[(description,), (location,), (tbilisi,), (geo...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,"[(1021,), (creative,), (seeking,), (music,), (...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,"[(data,), (analytics,), (brings,), (cardinal,)...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Creating the reference of required skills
Build the reference of required skills by manually reading through 50 job posts to extract the requird skills and keywords.

In [70]:
skill_keywords = {
    'Python': ['python'],
    'SQL': ['sql', 'structured query language'],
    'R': ['r'],
    'VBA': ['vba', 'visual basic'],
    'C': ['c'],
    'C++': ['c++'],
    'C#': ['c#'],
    'Java': ['java'],
    'JavaScript': ['javascript'],
    'HTML': ['html', 'hypertext markup language'],
    'Ruby': ['ruby'],
    'RDBMS': ['rdbms', 'relational database', 'postgressql', 'mysql', 'oracle', 
              'sql server', 'sql', 'structured query language', 'access'],
    'NoSQL': ['nosql', 'mongodb', 'cassandra'],
    'Access': ['access', 'ms access', 'microsoft access'],
    'Excel': ['excel', 'microsoft excel', 'ms excel'],
    'Word': ['word', 'ms word', 'microsoft word'],
    'PowerPoint': ['ppt', 'powerpoint', 'ms powerpoint', 'microsoft powerpoint'],
    'Sharepoint': ['sharepoint'],
    'ETL': ['etl'],
    'Oracle': ['oracle'],
    'snowflake': ['snowflake'],
    'Tableau': ['tableau'],
    'PowerBI': ['power bi', 'bi'],
    'Looker': ['looker'],
    'QilkView': ['qilkview'],
    'MicroStrategy': ['microstrategy'],
    'Plotly': ['plotly'],
    'Matplotlib': ['matplotlib'],
    'Seaborn': ['seaborn'],
    'Pandas': ['pandas'],
    'NumPy': ['numpy'],
    'Statistics': ['statistics'],
    'Probability': ['probability'],
    'Hypothesis Testing': ['hypothesis testing'],
    'A/B Testing': ['a/b testing', 'ab testing'],
    'MATLAB': ['matlab'],
    'Time Series': ['time series', 'forecasting'],
    'Regression': ['regression'],
    'Classification': ['classification'],
    'Clustering': ['clustering'],
    'Predictive Modeling': ['predictive modeling'],
    'Tensorflow': ['tensorflow'],
    'Pytorch': ['pytorch'],
    'Scikit-Learn': ['scikit-learn'],
    'Hadoop': ['hadoop'],
    'Spark': ['spark'],
    'Hive': ['hive'],
    'Databricks': ['databricks'],
    'SAP': ['sap'],
    'SCM': ['scm', 'supply chain management'],
    'CRM': ['crm', 'customer relationship management', 'salesforce'],
    'ERP': ['erp', 'enterprise resource planning'],
    'SAAS': ['saas', 'software as a service'],
    'PeopleSoft': ['peoplesoft'],
    'Integration': ['integration'],
    'Agile': ['agile'],
    'Teamwork': ['team-oriented environment', 'team-oriented', 'collaboration', 'cooparation', 
                 'teamwork', 'team management', 'team environment', 'business partners', 
                 'working relationships', 'team-centric', 'collaborative spirit'],
    'Presentation': ['presentation', 'present'],
    'Reporting': ['reporting', 'report'],
    'Verbal': ['verbal', 'oral', 'well-spoken'],
    'Written': ['technical writing', 'writing', 'written'],
    'Detail-oriented': ['detail-oriented', 'attention to detail', 'eye for detail', 'accuracy'],
    'Motivation': ['motivation', 'ambition', 'willingness to learn', 'delivering result', 
                   'continuous learning', 'self-motivation', 'work independently', 
                   'self-motivated', 'self-learner', 'self-directed'],
    'Adaptability': ['adaptability', 'flexible', 'multitasking', 'fast-paced'],
    'Good attitude': ['attitude', 'self-learner', 'self-directed', 'positive attitude', 
                      'under pressure', 'high-pressure'],
    'Problem-solving': ['problem-solving', 'problem solving'],
    'Critical-thinking': ['critical-thinking', 'critical-thinker', 'critical thinking'],
    'Time management': ['time management', 'timely manner', 'prioritize time', 
                        'deadline-driven', 'meet deadlines'],
    'Project management': ['project management']
}

skill_categories = {
    'Programming': ['Python', 'SQL', 'R', 'VBA', 'C', 'C++', 'C#', 'Java', 'JavaScript', 'HTML', 'Ruby'],
    'Database Management System': ['RDBMS', 'NoSQL'],
    'Statistics for Data Analysis': ['Excel', 'Statistics', 'Probability', 'Hypothesis Testing', 
                                     'A/B Testing', 'MATLAB', 'Time Series', 'Pandas', 'NumPy'],
    'Data Visualization': ['Tableau', 'PowerBI', 'Looker', 'QilkView', 'MicroStrategy', 
                           'Plotly', 'Matplotlib', 'Seaborn', 'Excel'],
    'Enterprise system': ['SAP', 'SCM', 'CRM', 'ERP', 'SAAS', 'PeopleSoft', 'Integration', 'Oracle', 'SharePoint'],
    'Communication': ['Presentation', 'Reporting', 'Verbal', 'Written', 'Word', 'PowerPoint'],
    'Employee attributes': ['Teamwork', 'Critical-thinking', 'Time management', 'Project management', 'Agile',  
                            'Problem-solving', 'Detail-oriented', 'Motivation', 'Adaptability', 'Good attitude'],
    'Machine Learning': ['Regression', 'Classification', 'Clustering', 'Predictive Modeling', 'Tensorflow', 
                         'Pytorch', 'Scikit-Learn'],
    'Big Data Technologies': ['Hadoop', 'Spark', 'Hive', 'Databricks', 'Snowflake', 'ETL']
}

## 3) Exploratory Data Analysis

In [ ]:
# Function to perform fuzzy matching
def fuzzy_match(text, keyword):
    return fuzz.partial_ratio(text.lower(), keyword.lower())

JD_uni_bi_grams

for gram in JD_uni_bi_grams:
    gram_text = " ".join(gram)
    for skill, keywords in skill_keywords.items():
        for keyword in keywords:
            if fuzzy_match(gram_text, keyword) >= 80:  # Adjust threshold as needed
                skill_counts[skill] += 1
                
# Initialize dictionary to store skill counts
individual_skill_counts = {skill: 0 for skill in skill_keywords}
category_skill_counts = {skill: 0 for skill in skill_categories}